#one{

display: flex; 
justify-content: space-around;

align-items: center;
height: 350px;
width: 100%;


}
#three{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
    
}